*{margin: 0; padding: 0;
font-family: trasandina, sans-serif}


/*header and nav*/
header{width: 100%; height: 100vh; background-color: #009276;}
.overskrift{width: 70%; height: 50vh; display: inline-block; float: left; color: white;font-weight: bold; font-size: 2.7vw; padding-top: 10vh}

.overskrift h1 {padding-left: 20%;}
.overskrift p  {padding-left: 20%;}

a info {text-decoration: none; list-style: none;}
nav a {text-decoration: none; color: white; font-family: trasandina, sans-serif; font-weight: bold;  }

.adresse {width: 50%; height: 20vh; display: inline-block; float: left; background-color: greenyellow;}

.adresse h1 {color: white; font-weight: bold; font-size:20px; padding-left: 2%; padding-top: 19%; font-size: 2.7vw;}

nav{width: 30%; height: 100vh;  float: right; display: flex; flex-direction: column; }

nav ul {text-decoration: none; list-style: none; font-family: trasandina, sans-serif;color: white; 
}
nav li{border: 2px solid white; height:13.5vh;font-size: 2.7vw}
.boks {
    width: 50%; height: 40vh; display: inline-block; float: right; background-color:blue;}

#orange {background-color: #EC6A37; text-align: center; vertical-align: middle; line-height: 15vh;}
#blue{background-color: #1A5091;text-align: center;line-height: 15vh;}
#pink{background-color: #ECB2B3;text-align: center;line-height: 15vh;}
#red{background-color: #B93A32;text-align: center;line-height: 15vh;}
#yellow{background-color: #EEC843;text-align: center;line-height: 15vh;}
#brown{background-color: #91672F;text-align: center;line-height: 15vh;}
#purple{background-color: #452B6F;text-align: center;line-height: 15vh;}



/*main section*/
.div1 {width: 100%; height: 100vh;background-image: url("billeder/udenforcopy.jpg"); background-size: cover; color: white; padding-left: 1%;font-weight: bold; font-size: 2.7vw; padding-top: 1%;}

.div2{width: 100%; height: 100vh; background-color: #1A5091; background-image: url(billeder/DSC_0006rblue.jpg);background-size: cover;color: white;padding-left: 1%;font-weight: bold; font-size: 2.7vw;padding-top: 1%;}

.div3{width: 100%; height: 100vh; background-color: #ECB2B3;background-size: cover; background-image: url(billeder/alle_dage.jpg);color: white;padding-left: 1%;font-weight: bold; font-size: 2.7vw;padding-top: 1%;}

.div4{width: 100%; height: 100vh; background-color: #B93A32;background-size: cover; background-image: url(billeder/dreamcoupe01copy.jpg);color: white;padding-left: 1%;font-weight: bold; font-size: 2.7vw;padding-top: 1%;}

.div5{width: 100%; height: 100vh; background-color: #EEC843;background-size: cover; background-image: url(billeder/ude3.jpg);color: white;padding-left: 1%;font-weight: bold; font-size: 2.7vw;padding-top: 1%;}

.div6{width: 100%; height: 100vh; background-color: #91672F;background-size: cover; background-image: url(billeder/Odin_tog_copy.jpg);color: white;padding-left: 1%;font-weight: bold; font-size: 2.7vw;padding-top: 1%;}


.div2 h5 {font-style: italic; font-weight: lighter;}
.div3 h5 {font-style: italic; font-weight: lighter;}
.div4 h5 {font-style: italic; font-weight: lighter;}
.div5 h5 {font-style: italic; font-weight: lighter; background-color: darkgoldenrod;}
.div6 h5 {font-style: italic; font-weight: lighter;}


.adresse2 h1{color: white; font-weight: bold; font-size: 2.7vw; padding-left: 1%; padding-top: 35%;}

.div1 img{width: 5%; height: 5%; padding-top: 5vh;}
.div2 img{width: 5%; height: 5%; padding-top: 5vh;}
.div3 img{width: 5%; height: 5%; padding-top: 5vh;}
.div4 img{width: 5%; height: 5%; padding-top: 5vh;}
.div5 img{width: 5%; height: 5%; padding-top: 5vh;}
.div6 img{width: 5%; height: 5%; padding-top: 2vh;}
.adresse3 img{width: 5%; height: 5%; float: left; padding-left: 1vh;padding-top: 2vh;}

/*footer*/

footer{width: 100%; height: 100vh; background-color: #452B6F; color: white;}
.pris {padding-left: 1%; font-size: 2.7vw; float: left; width: 50%;display: block;}
.find {text-align: right; padding-right: 1%; width: 40%; float: right;display: block; vertical-align: top;font-size: 2.7vw}
.googly {float: right; display: block;}
.bla {padding-top: 1%; padding-left: 1%;}
.bla img {width: 90%; height: auto;}
.adresse3 {display: inline-block;}
.adresse3 p {padding-left: 1%; float: left; display: block;font-size: 2.7vw}

.googly iframe {
width: 500px;
    height: 355px;
}


